body{
    /*
    background-color: rgba(104,104,104,1);
    /* Ici on va mettre une font-size à 250% mais cela ne se fait normalement pas !! */
    /*
    font-size: 250%;
    color:coral;
    */
    background: linear-gradient(250deg,rgb(254, 180, 192), rgb(146, 146, 255));
    font-size: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#btn {
    width: 5rem;
    height: 5rem;
    border: solid orange 1px;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    box-shadow: 0px 0px 25px black;
}